<%- include('./partials/header.ejs') %>

<form>
    <h3>Login</h3>
    <label for="email">Email :</label>
    <input type="text" name="email" required>
    <div class="email" style="color: red;"></div>
    <label for="Password">Password :</label>
    <input type="text" name="password" required>
    <div class="password" style="color: red;"></div>
    <button type="submit">Login</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailErr = document.querySelector('.email')
    const passwordErr = document.querySelector('.password')


    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset validasi
        emailErr.textContent = "";
        passwordErr.textContent = "";

        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: {
                    "Content-Type": "application/json"
                }
            });

            const data = await res.json();
            console.log(data)

            if (data.errors) {
                emailErr.textContent = data.errors.email;
                passwordErr.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign('/smoothies');
            }
        } catch (err) {
            console.log(err)
        }
    })
</script>
<%- include('./partials/footer.ejs') %>