<%- include('./partials/header.ejs') %>

<form>
    <h3>Register</h3>
    <label for="email">Email :</label>
    <input type="text" name="email" required>
    <label for="Password">Password :</label>
    <input type="text" name="password" required>
    <button type="submit">Register</button>
</form>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', (e) => {
        e.preventDefault();

        const email = form.email.value;
        const password = form.password.value;

        console.log(email, password);
    })
</script>

<%- include('./partials/footer.ejs') %>