<%- include('./partials/header.ejs') %>

<form>
    <h3>Register</h3>
    <label for="email">Email :</label>
    <input type="text" name="email" required>
    <div class="email" style="color: red;"></div>
    <label for="Password">Password :</label>
    <input type="text" name="password" required>
    <div class="password" style="color: red;"></div>
    <button type="submit">Register</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailErr = document.querySelector('.email')
    const passwordErr = document.querySelector('.password')

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset validasi
        emailErr.textContent = "";
        passwordErr.textContent = "";

        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/register', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            const data = await res.json()

            if (data.errors) {
                // handle error belum jadi
                // emailErr.textContent = data.errors.email.message;
                // passwordErr.textContent = data.errors.password.message;

                console.log(data)
            }
            if (data.user) {
                // redirect
                location.assign('/')
            }
        } catch (err) {
            console.log('err catch', err)
        }
    })
</script>

<%- include('./partials/footer.ejs') %>